<h1 class="ui center aligned icon header">Welcome to <strong class="chat_with_me">ChatWithMe</strong></h1>
<h3 class="ui center aligned icon header">
  <i class="circular orange pencil alternate icon", id="icon"></i>
</h3>
<h3 class="ui horizontal divider header">Sign up and chat with us!</h3>
<%= render 'layouts/errors', obj: user %>
<div class="ui placeholder segment">
  <div class="ui very relaxed stackable grid">
    <div class="column">
      <%= form_for(:user, html: {class: "ui form", role: "form"}, url: signup_path) do |f| %>
        <div class="field">
          <%= f.label :username, "Username" %>
          <div class="ui left icon input">
            <%= f.text_field :username, placeholder: "Username" %>
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <%= f.label :email, "Email" %>
          <div class="ui left icon input">
            <%= f.email_field :email, placeholder: "Email" %>
            <i class="envelope icon"></i>
          </div>
        </div>
        <div class="field">
          <%= f.label :password, "Password" %>
          <div class="ui left icon input">
            <%= f.password_field :password, placeholder: "Password" %>
            <i class="lock icon"></i>
          </div>
        </div>
        <%= f.button "Sign up!", class: "ui orange submit button" %>
      <% end %>
    </div>
  </div>
</div>
